/*insert custom css below*/


body {
}

.heading {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    border-bottom: 2px solid #eee;
}

.heading h1 {
}

.box {
    width: 29%;
    float: left;
    margin: 2%;
    position: relative;
    top: 50px;
    left: 0px;
    bottom: 50px;
}

.box:last-child {
}

.box h2 {
}

.box img {
    position: relative;
    width: 100%;
}

.box a.read-more {
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0 20px;
    border-top: 2px solid #eee;
}
