/*insert custom css below*/


body {
}

.heading {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}

.heading h1 {
}

.box {
    width: 29%;
    float: left;
    margin: 2%;
    position: relative;
    top: 10px;
    left: 0px;
}

.box:last-child {
}

.box h2 {
    position: relative;
    width: 26%;
}

.box img {
}

.box a.read-more {
}

.footer {
    position: fixed;
}
