/*insert custom css below*/


body {
}

.heading {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 10px;
}

.heading h1 {
}

.box {
}

.box:last-child {
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
    position: fixed;
}
